@font-face {
  font-family: "ABeeZee Italic";
  src: url("../../assets/fonts/ABeeZee-Italic.ttf") format("truetype");
}

@media (min-width: 350px) and (max-width: 700px) {
  .songDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 1.5rem;
  }

  .textDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-right: 18px;
  }

  .textDetailsContainer h2 {
    font-family: "ABeeZee Italic";
  }

  .artistName {
    color: gray;
    font-size: 1rem;
    font-family: "ABeeZee Italic";
  }

  .translation-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    background-color: #d9d9d9;
    border-radius: 100%;
    padding: 10px 15px;
  }
}
