@font-face {
  font-family: "ABeeZee";
  src: url("../../assets/fonts/ABeeZee-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 350px) and (max-width: 700px) {
  .songDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 1rem;
  }

  .photoDetailsContainer {
    padding: 0.5rem;
  }

  .textDetailsContainer {
    font-family: "ABeeZee", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-right: 10px;
  }

  .artistName {
    color: gray;
    font-size: 1rem;
  }

  .translation-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    background-color: #d9d9d9;
    border-radius: 50%;
  }
}
