body,
html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ABeeZee";
  src: url("../../assets/fonts/ABeeZee-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Aclonica";
  src: url("../../assets/Aclonica-Regular.ttf") format("truetype");
}

.dove {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 1.5rem;
  z-index: 1;
}

.ellipse {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  margin-left: 1.5rem;
}

.us {
  width: 10%;
}

.search {
  background-color: rgba(149, 112, 255, 0.19);
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
}
